*
!.gitignore
!.config
!.config/i3status
!.config/i3status/config
!.config/sauerbraten
!.config/sauerbraten/autoexec.cfg
!.i3/
!.i3/config
!.Xresources
!.urxvt
!.urxvt/ext
!.urxvt/ext/font-size
!.dircolors
!.gitconfig
!.nanorc
!.xinitrc
!.zshrc
