*
!.gitignore
!.config
!.config/i3status
!.config/i3status/config
!.config/sauerbraten
!.config/sauerbraten/autoexec.cfg
!.config/sublime-text-3
!.config/sublime-text-3/Packages
!.config/sublime-text-3/Packages/User
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.config/sublime-text-3/Packages/User/my.tmTheme
!.config/touchegg
!.config/touchegg/touchegg.conf
!.config/volumeicon
!.config/volumeicon/volumeicon
!.i3
!.i3/config
!.npmrc
!.themes
!.themes/solarized-dark-gtk
!.Xresources
!.urxvt
!.urxvt/ext
!.urxvt/ext/font-size
!.dircolors
!.gitconfig
!.nanorc
!.xinitrc
!.zshrc
