[user]
  email = martonboros@gmail.com
  name = Márton Boros
[alias]
  lol = log --oneline --graph --decorate
  s = status -sb
  ps = push
  pl = pull
  a = add
  c = commit -m
  m = merge
  d = diff --color-words
[push]
	default = current
[merge]
	defaultToUpstream = on
[branch]
	autosetuprebase = always
