*
!/.gitignore
!/.bin/
!/.bin/lock
!/.root/
!/.root/configuration.nix
!/.nixpkgs/
!/.nixpkgs/config.nix
!/.atom/
!/.atom/config.cson
!/.atom/init.coffee
!/.atom/keymap.cson
!/.atom/packages.cson
!/.atom/styles.less
!/.i3/
!/.i3/config
!/.config/
!/.config/doublecmd/
!/.config/doublecmd/doublecmd.xml
!/.config/i3status/
!/.config/i3status/config
!/.config/mpv/
!/.config/mpv/mpv.conf
!/.config/mpv/input.conf
!/.config/sauerbraten/
!/.config/sauerbraten/autoexec.cfg
!/.config/sublime-text-3/
!/.config/sublime-text-3/Packages
!/.config/sublime-text-3/Packages/User
!/.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!/.config/sublime-text-3/Packages/User/my.tmTheme
!/.config/sublime-text-3/Packages/User/Package Control.sublime-settings
!/.config/touchegg/
!/.config/touchegg/touchegg.conf
!/.config/volumeicon
!/.config/volumeicon/volumeicon
!/.gitattributes
!/.nixos/
!/.nixos/README.md
!/.nixos/configuration.nix.example
!/.nixos/common.nix
!/.nixos/laptop.nix
!/.nixos/desktop.nix
!/.nixos
!/.nixos/vm.nix
!/.npmrc
!/.themes/
!/.themes/solarized-dark-gtk
!/.Xresources
!/.urxvt
!/.urxvt/ext
!/.urxvt/ext/font-size
!/.dircolors
!/.gitconfig
!/.nanorc
!/.xinitrc
!/.zshrc
