"*":
  "atom-pair": {}
  "atom-typescript": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    includeCompletionsFromAllBuffers: false
  autosave:
    enabled: true
  "command-palette":
    preserveLastSearch: true
  core:
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "metrics"
      "linter-pylint"
      "spell-check"
      "ide-purescript"
      "hasklig"
      "firacode"
    ]
    projectHome: "/home/ssdd/dev"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "document-outline": {}
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Sans"
    fontSize: 23
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "elm-format":
    binary: "elm-format"
    formatOnSave: false
  elmjutsu:
    autocompleteEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/tmp/elmjutsu11101KCL5RLxq3al9"
    hyperclickEnabled: true
  "exception-reporting":
    userId: "59362366-325f-a88f-954d-6375e359219a"
  firacode:
    enabledScopes: [
      "source.haskell"
      "source.purescript"
      "source.elm"
      "source.idris"
    ]
    firacodeWeight: "regular"
    fontWeight: "regular"
  fonts:
    fontFamily: "Bitstream Vera Sans Mono"
  hidpi:
    scaleFactor: 1.5
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  "ide-purescript": {}
  "language-elm": {}
  "language-idris": {}
  linter: {}
  "linter-elm-make": {}
  "outline-selection":
    outlineOpacity: 0.5
    outlineRadius: 4
  pigments: {}
  "spell-check": {}
  susave:
    tryDefaultSave: false
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".source.ts":
  editor:
    tabLength: 4
