"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-typescript": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
    includeCompletionsFromAllBuffers: false
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "metrics"
      "linter-pylint"
      "spell-check"
      "tabs"
    ]
    projectHome: "/home/ssdd/dev"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
  "exception-reporting":
    userId: "59362366-325f-a88f-954d-6375e359219a"
  fonts:
    fontFamily: "Bitstream Vera Sans Mono"
  "ide-purescript": {}
  "language-elm": {}
  "language-idris": {}
  linter:
    showErrorPanel: false
    showErrorTabProject: false
  pigments: {}
  "spell-check": {}
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".source.ts":
  editor:
    tabLength: 4
