.editor {
  line-height: 1.3em;
  font-weight: 100 !important;
}

atom-text-editor::shadow .comment {
  font-style: normal;
}

body > atom-workspace > atom-workspace-axis > atom-workspace-axis > atom-pane-container > atom-pane > div > atom-text-editor > atom-overlay > div.popover-list {
  opacity: 0.1;
}
